{% load static %}

{% block content %}

{% if msg %}
<script>
    alert('{{ msg }}');
</script>
{% endif %}


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>LOGİN</title>

    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body style="background: url(https://i.hizliresim.com/oRPv1P.jpg); background-size: 1**% 100%;">


<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Yazılım Atolyesi Akademi</h3>

			</div>
			<div class="card-body">
				<form id="login-form" class="form" action="/home/" method="post">
                    {% csrf_token %}
					<div class="input-group form-group">
                        {% csrf_token %}
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="email" name="email" class ="form-control" placeholder="email">

					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" name="password" class="form-control" placeholder="password">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Beni Hatırla
					</div>
					<div class="form-group">
						<input type="submit" value="Giris Yap" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">

				<div class="d-flex justify-content-center">
					<a href="#">Şifrenizi mi unuttunuz?</a>
				</div>
			</div>
		</div>
	</div>
</div>


</body>
</html>

{% endblock %}